body {
    background-color: #5adaff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
    /* padding: 20px; */
}

.controls {
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 50px;
    width: 40%;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.messageArea {
    width: 40%;
}

.messageBox {
    /* border: 2px solid #dedede; */
    /* background-color: #f1f1f1; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}